# Covers JetBrains IDEs: IntelliJ

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:


# IntelliJ
target/

# mpeltonen/sbt-idea plugin
.idea_modules/


